body{
    background: #81B1AF;
    font: normal 15pt Arial; 
}

header{
    text-align: center;
}

#section__container{
    line-height: 90px;
}

input{
    border-radius: 5px;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.419) ;
}

#button__container{
    text-align: center;
}

#result{
    background-color: blue;
}

footer{
    text-align: center;
}